[submodule "jquery"]
	path = jquery
	url = git://github.com/jupiterjs/jquerymx.git
[submodule "funcunit"]
	path = funcunit
	url = git://github.com/jupiterjs/funcunit.git
[submodule "steal"]
	path = steal
	url = git://github.com/jupiterjs/steal.git
